<div class="container">
  <h1 class="title">Faça o login para iniciar</h1>
  <section class="formContainer">
    <form class="form" (submit)="submit($event,{user:nome,password:senha})">
      <div class="wrapperField">
        <input type="text" name="nome" id="user" required  [(ngModel)]="nome"
       />
        <label for="user">Nome</label>
      </div>
      <div class="wrapperField">
        <input
          type="password"
          name="senha"
          id="password"
          required
          [(ngModel)]="senha"
        />
        <label for="password">Senha</label>
      </div>
      <button
        type="submit"
        class="btn-submit"
        [disabled]="nome !== '' && senha !== '' ? false : true"
      >
        fazer login
      </button>
    </form>
  </section>
</div>


