<header class="containerHeader" [class.expandMenu]="menuExpand">
  <div (click)="showMenu()" *ngIf="!menuExpand" class="onlyIcon">
    <i-bs name="arrows-angle-expand" width="25" height="25"> </i-bs>
  </div>

  <h5 (click)="showMenu()" *ngIf="menuExpand">
    {{ title }}
  </h5>
  <nav>
    <ul *ngIf="!menuExpand">
      <li>
        <a routerLink="/home">
          <i-bs name="house-door" width="25" height="25"> </i-bs>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <i-bs name="box-arrow-in-left" width="25" height="25"> </i-bs>
        </a>
      </li>
    </ul>
    <ul *ngIf="menuExpand">
      <li *ngFor="let item of itensMenu">
        <a routerLink="{{ item.link }}">{{
          !showOnlyIcons ? item.name : item.nameComplete
        }}</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet> </router-outlet>
